body{
     background-color: white;
    
     
     }
     h1{
          text-align: center;
          align-items: center;
          font-size:40px;
          margin: -4.33%;
          color: white;
      

      }


      h2{
          display: inline-block;
          margin-top: 90px;

      }
      .linha{
          
          margin-top:20px;
          color: white;
          font-size: 45px;
     
      }

      section{
          
          
          background-color:  #3565ad;
          text-align: center;
          width: 800px;
          height: 90px;
          padding: 1px;
          margin-left: 33%;
          border-radius: 15px;
          margin-top: 90;



      }


     #line1{
          margin-top: 160px;
          width: 95%;
          margin-left: 2em;
          border-top: 1px solid black;
          align-items: center;
          margin-top: 2%;
        
        }
        
    
         
 
        .img-logo img{
          position: relative;
          width: 150px;
          height: 150px;
          top: 10px;
          left: 50px;
      }
      .container{
        max-width: 750px;
        flex-wrap: wrap;
        justify-content:space-around;
        position: relative;
        margin-top: 2%;
        padding: 20px;
        align-items: baseline;
        



        
    }    
        
    
    
        
       

      

       .imagem{
        width: 180px;

        
        
      }   
      .flexivel{
        display: flex;
}    
         
.imagem1{
    width: 150px;
}

.imagem2{
    width:155px ;
   
}
.imagem3{
    width:180px ;
    margin-top: -25px;

}

.imagem4{
    width:130px ;
    margin-top:-20 ;
}

.imagem5{
    width:140px ;
    
}
.imagem6{
width: 240px;
margin-top: 11px;

}
 
.imagem7{
width: 180px;
display: inline-block;
margin-right: -30px;
margin-top: 6;
}
 
.imagem8{
width: 215px;
display: inline-block;
margin-right: -50px;
text-align: center;



}
 

 
 
 
 
 
      .informacoes{
          position: absolute;
          display: flex;
          justify-content: space-between;
          font-size: large;
          left: 800px;
          top: 50px;
          text-align: left;
      }
      
      .informacoes-fale-conosco{
          position: relative;
          inline-size: 150px;
          left: -50px;
      }
      
      .informacoes-onde-estamos{
          inline-size: 250px;
          width: 15em;
      }
      
      .informacoes-horarios{
          position: relative;
          inline-size: 200px;
          right: -30px;
      }
      
      /* Social Midia */
      .social{
          position: absolute;
          top: 15px;
          right: 20px;
      }

      
   

    
       .final{
       align-items: center;
        font-size: 20px;
        display:inline-block;
        margin-left: 40%;
        margin-top: 8px;
     
       }
 
 
 
 
 
       #line2{
        margin-top: 600px;
     width: 95%;
     margin-left: 2em;
     border-top: 1px solid black;
      }